/* adding fonts for use in the form */
@font-face {
  font-family: "Norse-Regular", sans-serif;
  src: url(/fonts/norse.regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Norse-Bold", sans-serif;
  src: url(/fonts/norse.bold.otf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Slab", Arial, Helvetica, sans-serif;
  src: url(/fonts/RobotoSlab-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family: "Roboto-Slab", Arial, Helvetica, sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left {
  position: relative;
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.left img {
  max-width: 100%;
  height: auto;
}

.logo {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  width: auto;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  text-align: center;
  font-family: "Norse-Regular", sans-serif;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 150px;
}

.logo h1 {
  font-size: 2em;
  margin: 0;
  font-family: "Norse-Regular", sans-serif;
}

.call {
  text-align: center;
  margin-bottom: 2em;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.signup {
  text-align: center;
  font-family: var(--font-family);
}

form input,
form button {
  margin: 10px;
  padding: 5px;
  font-family: var(--font-family);
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
