@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* adding fonts for use in the form */
@font-face {
  font-family: "Norse-Regular", sans-serif;
  src: url(/fonts/norse.regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Norse-Bold", sans-serif;
  src: url(/fonts/norse.bold.otf);
  font-weight: bold;
  font-style: normal;
}

:root {
  --font-family: "Roboto Slab", serif;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left {
  position: relative;
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0;
  background-color: rgba(220, 220, 220, 0.2);
}

.left img {
  max-width: 100%;
  height: auto;
}

.logo {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  width: auto;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
  text-align: center;
  font-family: "Norse-Regular", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 150px;
  opacity: 0.8;
}

.logo h1 {
  font-size: 3em;
  font-family: "Roboto", sans-serif;
  opacity: 1;
  margin: 1rem;
  padding: 1rem;
  font-family: "Norse-Regular", sans-serif;
}

.call {
  text-align: left;
  margin-bottom: 2em;
  padding: 0.5rem;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 20px;
}

.signup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  text-align: left;
  font-family: var(--font-family);
}

form input {
  margin: 10px;
  padding: 5px;
  font-family: var(--font-family);
}

.signup label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.signup input[type="text"],
.signup input[type="email"],
.signup input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #afc4bd;
  color: #405867;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #49655d;
  color: #afc4bd;
}

div .signup {
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
}

div .account {
  width: 100%;
  padding: 2.5rem;
  margin-left: 10rem;
}
